footer {
	display: flex;
	justify-content: center;
	margin-bottom: 4.5rem;
	opacity: 0.5;

	.footer-up,
	.footer-down {
		display: inline-block;
		text-align: center;
		font-size: 0.9rem;
		color: white;
	}

	.footer-up {
		margin-right: 0.2rem;

		#date-footer {
			font-size: 0.9rem;
		}
	}

	.footer-down a {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: #{$mobile-device}) {
	footer {
		margin-bottom: 3rem;
		flex-direction: column;

		.footer-up,
		.footer-down {
			display: inline-block;
			font-size: 0.67rem;
		}

		.footer-up {
			margin-bottom: 0.2rem;

			#date-footer {
				font-size: 0.67rem;
			}
		}

		.footer-down a {
			font-size: 0.67rem;
		}
	}
}
