@import "../variables";

#navbar {
	position: fixed;
	display: flex;
	justify-content: flex-end;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	max-width: $max-width-container;
	z-index: 10;
	pointer-events: none;
	opacity: 1;
	transition: opacity 1s ease-in-out, transform 1s ease-out;
	transition-delay: 0.5s;

	&.hidden {
		opacity: 0;
		transform: translate(-50%, -4rem);
	}

	.nav-link:hover {
		cursor: pointer;
	}

	.navbar-burger {
		display: none;
	}

	.navbar-menu {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0.5rem;
		margin-top: 4.8rem;
		width: max-content;
		list-style: none;
		line-height: 1.5rem;
		letter-spacing: 0.04rem;

		.navbar-menu-item {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			pointer-events: all;
			font-weight: 400;
			font-size: 0.9rem;
			color: white;
			cursor: pointer;

			&::after {
				content: "";
				width: 0;
				height: 0.05rem;
				margin-left: 0.3rem;
				background: $base_gradient;
				transition: width 0.3s ease-in;
			}

			&:hover {
				background-image: $base_gradient;
				background-clip: text;
				color: transparent;
				transition: color 0.2s ease-in;

				&::after {
					width: 1rem;
				}
			}
		}
	}
}

@media screen and (max-width: #{$tablet-device}),
only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait),
only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	#navbar {
		left: 0;
		transform: none;
		justify-content: flex-end;

		.navbar-burger {
			display: inline-flex;
			align-items: center;
			pointer-events: all;
			margin-top: 2rem;
			height: 1.3rem;
			padding: 0 0.2rem;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;

			.navbar-burger-icon {
				position: relative;
				height: 0.05rem;
				width: 1.1rem;
				background-color: #fff;

				&::before,
				&::after {
					position: absolute;
					content: "";
					height: 0.05rem;
					width: 1.1rem;
					background-color: #fff;
					transform-origin: center;
					transition: top 0.125s cubic-bezier(0.47, 0, 0.745, 0.715),
						transform 0.125s ease-in-out;
				}

				&::before {
					top: -0.45rem;
				}

				&::after {
					top: 0.45rem;
				}

				&.first-step {
					&::before,
					&::after {
						top: 0;
					}
				}

				&.second-step {
					&::before {
						transform: rotate(45deg);
					}
					&::after {
						transform: rotate(-45deg);
					}
				}
			}
			.navbar-burger-content {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				opacity: 0;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100vh;
				background-color: $main_dark_blue;
				z-index: -1;
				transition: opacity 0.25s cubic-bezier(0.785, 0.235, 0.25, 0.56);
				pointer-events: none;

				.navbar-burger-menu {
					display: flex;
					flex-direction: column;
					align-items: center;
					list-style: none;
					padding-top: 25vh;

					.navbar-menu-item {
						color: white;

						&:not(:first-child) {
							margin-top: 2.2rem;
						}
					}
				}

				.navbar-burger-contact {
					display: flex;
					justify-content: space-evenly;
					list-style: none;
					padding: 4rem 0 20vh;

					.page-link {
						width: max-content;
					}
				}
			}

			&.open {
				.navbar-burger-content {
					opacity: 1;
					pointer-events: all;
					transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
				}
			}
		}

		.navbar-menu {
			display: none;
		}
	}
}
