@import "../variables";

.project-cards {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	list-style: none;
	color: white;
	padding: 0 200px;
	box-sizing: border-box;

	.project-card {
		display: flex;
		position: relative;
		align-items: center;
		opacity: 1;
		width: 100%;
		height: 475px;
		transition: opacity 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: 5.5rem;
		}

		&:nth-child(even) {
			margin-left: 6.5rem;
		}

		.project-wip {
			position: absolute;
			top: 1.5rem;
			left: -3rem;
			width: 6rem;
			z-index: 1;
		}

		.project-date-container {
			position: absolute;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			bottom: 0;
			left: -1.7rem;
			height: 100%;
			width: 0.9rem;

			.project-date {
				font-size: 0.9rem;
				font-weight: 400;
				color: rgba(white, 0.8);
				height: max-content;
				margin-bottom: 1rem;
				width: 100%;
				box-sizing: border-box;
				transform: rotate(-90deg);
				transition: padding 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
			}

			.project-bar {
				position: relative;
				height: 11.5rem;
				width: 1px;
				background-color: rgba(white, 0.2);
				transition: height 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);

				&::after {
					content: "";
					position: absolute;
					inset: 0;
					background-image: $base_gradient;
					opacity: 0;
					transition: opacity 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95),
						height 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
				}
			}
		}

		.project-illustration {
			position: relative;
			max-width: 320px;
			max-height: 100%;
			width: 100%;
			height: 100%;
			background-color: $main_dark_blue;
			flex-shrink: 0;
			overflow: hidden;

			.project-image {
				display: inline;
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				left: 0;
				bottom: 0;
				transform: scale(1.01);
				mask-image: linear-gradient(
					90deg,
					rgba(6, 31, 45, 0.7) 65%,
					rgba(6, 31, 45, 0) 100%
				);
				transition: bottom 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95),
					transform 0.75s cubic-bezier(0.68, 0, 0.265, 1);
			}
		}

		.project-content {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			z-index: 1;
			margin-left: -6%;
			box-sizing: border-box;

			.project-link,
			.project-title,
			.project-description {
				position: relative;
				bottom: 0;
				opacity: 1;
				transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);
			}

			.project-title {
				font-weight: 800;
				font-size: 2rem;
				text-transform: uppercase;
				font-family: "Poppins", sans-serif;
				margin-bottom: 0.75rem;
				transition-delay: 0.1s;
				transition-duration: 0.4s;
			}

			.project-description {
				font-size: 0.9rem;
				font-weight: 300;
				line-height: 150%;
				transition-delay: 0.1s;
				transition-duration: 0.5s;
				margin-bottom: 1.5rem;
			}

			.project-link {
				transition-delay: 0.2s;
				transition-duration: 0.5s;
				width: max-content;
			}
		}

		&:hover {
			.project-date-container {
				.project-bar {
					height: 13.5rem;

					&::after {
						opacity: 0.5;
					}
				}
			}

			.project-image {
				transform: scale(1.1);
			}
		}

		&.hidden {
			opacity: 0;

			.project-content {
				.project-title,
				.project-description,
				.project-link {
					bottom: -3rem;
					opacity: 0;
				}
			}

			.project-date-container {
				.project-date {
					padding-left: 20rem;
				}

				&::before {
					width: 0;
				}
			}

			.project-illustration .project-image {
				bottom: -4rem;
			}
		}
	}
}

@media screen and (max-width: #{$max-width-container}) {
	.project-cards {
		padding: 0 0 0 18%;
		.project-card {
			width: auto;
		}
	}
}

@media screen and (max-width: #{$tablet-device}) {
	.project-cards {
		padding-left: 9%;

		.project-card {
			-webkit-tap-highlight-color: transparent;
			height: 375px;

			&:not(:last-child) {
				margin-bottom: 3.34rem;
			}

			&:nth-child(even) {
				margin-left: auto;
				align-self: flex-end;
			}

			.project-illustration {
				width: 255px;
			}

			.project-content {
				width: calc(100vw * 0.28);
			}
		}
	}
}

@media screen and (max-width: #{$mobile-device}) {
	.project-cards {
		padding: 0;
		width: 100%;

		.project-card {
			height: 292px;
			width: 100%;
			transition: none;

			&.hidden {
				opacity: 1;

				.project-content {
					.project-title,
					.project-description,
					.project-link {
						bottom: 0;
						opacity: 1;
					}
				}

				.project-illustration .project-image {
					bottom: 0;
				}
			}

			.project-wip {
				top: 1rem;
				left: -1.5rem;
				width: 4.5rem;
			}

			.project-date-container {
				display: none;
			}

			.project-illustration {
				max-width: 196px;
			}

			.project-content {
				width: auto;

				.project-title {
					font-size: 1.34rem;
					margin-bottom: 0.75rem;
				}

				.project-description {
					margin-bottom: 1.5rem;
				}
			}
		}
	}
}
