@import "../variables";

.project-cards {
	position: relative;
	display: flex;
	flex-direction: column;
	list-style: none;
	color: white;
	padding: 0 200px;
	box-sizing: border-box;

	.project-card {
		display: flex;
		position: relative;
		bottom: 0;
		opacity: 1;
		width: 100%;
		height: 475px;
		transition: opacity 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

		&:not(:last-child) {
			margin-bottom: 5.5rem;
		}

		&:nth-child(even) {
			margin-left: 6.5rem;
		}

		&.hidden {
			opacity: 0;

			.project-content {
				bottom: -4rem;
			}

			.project-illustration .project-image {
				bottom: -8rem;
			}
		}

		.project-wip {
			position: absolute;
			top: 1.5rem;
			left: -3rem;
			width: 6rem;
			z-index: 1;
		}

		.project-date-container {
			position: absolute;
			display: flex;
			align-items: center;
			bottom: 0;
			left: -0.8rem;
			height: max-content;
			transform: rotate(-90deg);
			transform-origin: bottom left;

			.project-date {
				font-size: 0.9rem;
				font-weight: 400;
				color: rgba(white, 0.8);
			}

			&::before {
				content: "";
				width: 11.5rem;
				background-color: rgba(white, 0.2);
				height: 1px;
				margin-right: 1rem;
			}
		}

		.project-illustration {
			position: relative;
			max-width: 320px;
			max-height: 100%;
			width: 100%;
			height: 100%;
			background-color: $main_dark_blue;
			flex-shrink: 0;

			.project-image {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				left: 0;
				bottom: 0;
				transition: bottom 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
				mask-image: linear-gradient(
					90deg,
					rgba(6, 31, 45, 0.7) 65%,
					rgba(6, 31, 45, 0) 100%
				);
			}
		}
	}

	.project-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 17rem;
		z-index: 1;
		margin-left: -6%;
		transition: bottom 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
		box-sizing: border-box;

		.project-title {
			font-weight: 800;
			font-size: 2rem;
			text-transform: uppercase;
			font-family: "Poppins", sans-serif;
			margin-bottom: 0.75rem;
		}

		.project-description {
			font-size: 0.9rem;
			font-weight: 300;
			font-style: italic;
			line-height: 150%;
			margin-bottom: 1.5rem;
		}

		.project-link {
			width: max-content;
		}
	}
}

@media screen and (max-width: #{$max-width-container}) {
	.project-cards {
		padding: 0 0 0 18%;
		.project-card {
			width: auto;
		}
	}
}

@media screen and (max-width: #{$tablet-device}) {
	.project-cards {
		padding-left: 9%;

		.project-card {
			height: 375px;

			&:not(:last-child) {
				margin-bottom: 3.34rem;
			}

			&:nth-child(even) {
				margin-left: auto;
				align-self: flex-end;
			}

			.project-illustration {
				width: 255px;
			}
		}

		.project-content {
			width: calc(100vw * 0.28);
		}
	}
}

@media screen and (max-width: #{$mobile-device}) {
	.project-cards {
		padding: 0;
		width: 100%;

		.project-card {
			height: 292px;
			width: 100%;

			.project-wip {
				top: 1rem;
				left: -1.5rem;
				width: 4.5rem;
			}

			.project-date-container {
				display: none;
			}

			.project-illustration {
				max-width: 196px;
			}
		}

		.project-content {
			width: auto;

			.project-title {
				font-size: 1.34rem;
				margin-bottom: 0.75rem;
			}

			.project-description {
				margin-bottom: 1.5rem;
			}
		}
	}
}
