@import "../variables";

.project-cards {
	position: relative;
	display: flex;
	flex-direction: column;
	list-style: none;
	color: white;
	padding: 0 200px;
	box-sizing: border-box;

	.project-card {
		display: flex;
		position: relative;
		bottom: 0;
		opacity: 1;
		width: 100%;
		height: 475px;
		transition: opacity 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

		&:not(:last-child) {
			margin-bottom: 5.5rem;
		}

		&:nth-child(even) {
			margin-left: 6.5rem;
		}

		&.hidden {
			opacity: 0;

			.project-content {
				bottom: -4rem;
			}

			.project-illustration .project-image {
				bottom: -8rem;
			}
		}

		.project-wip {
			position: absolute;
			top: 1.5rem;
			left: -3rem;
			width: 6rem;
			z-index: 1;
		}

		.project-date-container {
			position: absolute;
			display: flex;
			align-items: center;
			bottom: 0;
			left: -0.8rem;
			height: max-content;
			transform: rotate(-90deg);
			transform-origin: bottom left;

			.project-date {
				font-size: 0.9rem;
				font-weight: 400;
				color: rgba(white, 0.8);
			}

			&::before {
				content: "";
				width: 11.5rem;
				background-color: rgba(white, 0.2);
				height: 1px;
				margin-right: 1rem;
			}
		}

		.project-illustration {
			position: relative;
			max-width: 320px;
			max-height: 100%;
			width: 100%;
			height: 100%;
			background-color: $main_dark_blue;

			.project-image {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				left: 0;
				bottom: 0;
				transition: bottom 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
				mask-image: linear-gradient(
					90deg,
					rgba(6, 31, 45, 0.7) 65%,
					rgba(6, 31, 45, 0) 100%
				);
			}
		}
	}

	.project-content {
		position: absolute;
		bottom: 50%;
		left: 280px;
		padding-right: 6.3rem;
		z-index: 1;
		transform: translateY(50%);
		transition: bottom 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;

		.project-title {
			font-weight: 800;
			font-size: 2rem;
			text-transform: uppercase;
			font-family: "Poppins", sans-serif;
			margin-bottom: 0.75rem;
		}

		.project-description {
			font-size: 0.9rem;
			font-weight: 300;
			font-style: italic;
			line-height: 150%;
			margin-bottom: 1.5rem;
		}
	}
}
