<section id="contact">
	<div class="section-title">
		<span class="section-number">03</span>
		<svg viewbox="0 0 1100 135" class="section-title-svg">
			<text x="0" y="130" class="section-title-text">Me contacter</text>
		</svg>
	</div>
	<p class="contact-text">
		Une idée ? Un projet ? N’hésitez pas à me contacter par mail ou sur mes
		réseaux sociaux. Je suis actuellement disponible pour un post de développeur
		frontend ou backend.
	</p>
	<ul class="contact-list">
		<li class="page-link">
			<a href="mailto:deckertmichel@gmail.com">Email</a>
		</li>
		<li class="page-link">
			<a href="https://www.linkedin.com/in/micheldeckert/" target="_blank"
				>LinkedIn</a
			>
		</li>
		<li class="page-link">
			<a href="https://github.com/moymat" target="_blank">Github</a>
		</li>
	</ul>
</section>
