<section id="contact">
	<div class="section-title">
		<span class="section-number">03</span>
		<h2 class="section-title-text stroke-text">Contact</h2>
	</div>
	<p>
		Une idée ? Un projet ? N’hésitez pas à me contacter
		<a class="page-link" href="mailto:deckertmichel@gmail.com">par mail</a> ou
		sur mes réseaux sociaux. Je suis actuellement disponible pour un post de
		développeur frontend et backend.
	</p>
	<ul>
		<li>
			<a
				class="page-link"
				href="https://www.linkedin.com/in/micheldeckert/"
				target="_blank"
				>LinkedIn</a
			>
		</li>
		<li>
			<a class="page-link" href="https://github.com/moymat" target="_blank"
				>Github</a
			>
		</li>
	</ul>
</section>
