<section id="contact">
	<div class="section-title hidden">
		<span class="section-number">03</span>
		<svg preserveAspectRatio="xMinYMin" viewbox="0 0 1100 165" class="section-title-svg">
			<text x="0" y="160" class="section-title-text">contact</text>
		</svg>
	</div>
	<p class="contact-text hidden">
		Une idée ? Un projet ? N’hésitez pas à me contacter par mail ou sur mes
		réseaux sociaux.
	</p>
	<ul class="contact-list hidden">
		<li class="page-link" style="--idx: 1">
			<a href="mailto:deckertmichel@gmail.com">Email</a>
		</li>
		<li class="page-link" style="--idx: 2">
			<a href="https://www.linkedin.com/in/micheldeckert/" target="_blank"
				>LinkedIn</a
			>
		</li>
		<li class="page-link" style="--idx: 3">
			<a href="https://github.com/moymat" target="_blank">Github</a>
		</li>
	</ul>
</section>
