<section id="hero">
	<div class="hero-container">
		<h1 class="hero-title">
			<span class="hero-name">Bonjour, je suis Michel Deckert</span>
			<span class="hero-role">Développeur</span>
			<span class="hero-role">Javascript</span>
		</h1>
		<p class="hero-sub">basé à Strasbourg // portfolio 2022</p>
		{# <h2 class="hero-stack stroke-text">Node.js / React</h2> #}
	</div>
		<div class="section-title">
			<svg viewbox="0 0 1100 155" class="section-title-svg">
				<text x="22" y="125" class="section-title-text">
					Node.js / React
				</text>
			</svg>
		</div>
	<div class="scroll-container">
		<div class="scroll-cta">
			<p class="scroll-text">scroll</p>
			<div class="scroll-bar"></div>
		</div>
	</div>
</section>
