<section id="hero" class="background-gradient">
	<div class="hero-content">
		<h1 class="hero-title">
			<span class="hero-name">Michel Deckert</span>
			<span class="hero-role stroke-text">Développeur</span>
			<span class="hero-stack">Node.js / React</span>
		</h1>
		<p class="hero-sub">Portfolio 2022 // Strasbourg</p>
	</div>
</section>
