<div id="hero">
	<div class="menu-wrapper">
		<div class="menu">
			<div class="menu-link" id="profile-menu">
				<div class="item-wrapper item-default">
					<span class="menu-item">Michel Deckert</span>
				</div>
				<div class="item-wrapper item-hover">
					<span class="menu-item"
						>Qui suis-je
						<span class="colored">?</span>
					</span>
				</div>
			</div>
			<div class="menu-link" id="projects-menu">
				<div class="item-wrapper item-default">
					<span class="menu-item">Développeur</span>
				</div>
				<div class="item-wrapper item-hover">
					<span class="menu-item">Mes projets</span>
				</div>
			</div>
			<div class="menu-link" id="contact-menu">
				<div class="item-wrapper item-default">
					<span class="menu-item">Me contacter</span>
				</div>
				<div class="item-wrapper item-hover">
					<span class="menu-item"
						>Node<span class="colored">.</span>js<span class="colored">/</span
						>React</span
					>
				</div>
			</div>
		</div>
		<div class="illustrations">
			<div class="slider">
				<div class="icon-wrapper">
					<span class="icon home-icon material-icons-sharp">code</span>
				</div>
				<div class="icon-wrapper">
					<span class="icon profile-icon material-icons-sharp"
						>perm_identity</span
					>
				</div>
				<div class="icon-wrapper">
					<span class="icon projects-icon material-icons-sharp">computer</span>
				</div>
				<div class="icon-wrapper">
					<span class="icon contact-icon material-icons-sharp"
						>mail_outline</span
					>
				</div>
			</div>
		</div>
	</div>
</div>
