
<section id="profile">
	<div class="profile-container">
		<div class="profile-titles">
			<div class="profile-title introduction-title active">
				<div class="title-background"></div>
				<span class="title-content">Présentation</span>
			</div>
			<div class="profile-title journey-title">
				<div class="title-background"></div>
				<span class="title-content">Parcours</span>
			</div>
			<div class="profile-title education-title">
				<div class="title-background"></div>
				<span class="title-content">Formations</span>
			</div>
		</div>
		<div class="profile-content">
			<div class="text-wrapper active">
				<p class="introduction-text scrollable active">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ad
					sequi sunt explicabo mollitia, non nulla accusantium iure est
					aspernatur quia totam laudantium praesentium molestias ipsa
					consectetur quo aliquam? Soluta. Iste reprehenderit quasi ad dolorum
					dolore, modi amet cum enim sed. Unde officia sunt ratione. Repellendus
					tempore facere impedit enim nam architecto voluptates, odit maiores
					iusto voluptatibus beatae quae quia. Dicta a quas id obcaecati unde
					aspernatur rerum quod iste ad quos repellat et, ab assumenda labore!
					Facere, quis. Ad, inventore vitae amet beatae voluptas et eum
					blanditiis nisi iusto! Fugit corrupti non cum a alias. Placeat magni
					facere illum quibusdam sit, facilis tenetur quo voluptatum? Odio saepe
					ab porro. Laboriosam nulla consequatur odio itaque, tenetur fugiat
					tempore impedit voluptate. Commodi quisquam dicta tempora, quod,
					expedita eligendi et explicabo nulla consequatur quaerat, sequi
					assumenda ex quia. Atque, voluptatem incidunt natus beatae veniam,
					exercitationem ab delectus, corporis aliquam cumque iusto explicabo.
					Deleniti inventore expedita cum labore excepturi officiis iste et.
					Voluptatum magni quidem aperiam? Quisquam nemo earum provident libero
					numquam consectetur, dolor laudantium, quo, explicabo possimus itaque
					quos accusamus ex inventore. Recusandae sequi facere quam fugiat
					numquam quasi, ipsum voluptatem consequuntur harum ex ullam. Voluptas
					enim, minus mollitia consequuntur, corporis aliquam architecto quae
					tenetur officia reprehenderit praesentium minima corrupti amet
					laudantium. Corrupti accusamus reiciendis omnis deserunt tempore sit
					quas, ex ab? Dolorem reiciendis fugit, eos incidunt aliquam doloribus
					fugiat alias eum cum dicta optio temporibus necessitatibus veritatis
					labore provident nostrum cupiditate! Molestiae ratione alias numquam
					sit, unde reiciendis quibusdam explicabo facilis porro quis adipisci,
					delectus eos repellat labore tenetur itaque? Voluptatem pariatur
					quibusdam quas tempora numquam libero atque unde, expedita minus?
					Consequatur, ex! Tempore id molestiae eum quasi unde? Ea odio,
					reiciendis voluptatem quae velit iure doloribus, minus voluptate et
					atque officia quos ducimus animi placeat magni reprehenderit. Sed,
					odit eos.
				</p>
			</div>
			<div class="text-wrapper">
				<p class="journey-text scrollable">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
					expedita natus corporis quisquam tempore aliquam ad nesciunt ipsam
					repellat assumenda, veniam deserunt fugiat recusandae sunt autem odio
					porro vero a. Modi vel sunt natus, aut voluptates aperiam officia sint
					eum voluptatibus dolor. Facere, repellendus! Ad inventore veniam
					blanditiis. Officia voluptatem architecto vel earum necessitatibus,
					beatae unde velit ex aut nisi? Laboriosam numquam, earum ex sed minima
					fugiat animi dolores cum placeat praesentium voluptatem, hic id
					dignissimos quam porro magnam! Laboriosam cum perspiciatis mollitia
					ratione perferendis, quisquam dignissimos error nulla sed!
				</p>
			</div>
			<div class="text-wrapper">
				<p class="educaiton-text scrollable">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eligendi
					repellat sequi sunt in exercitationem, nihil voluptatibus, amet
					delectus nisi saepe culpa, iste ex animi facilis minus quos magnam
					explicabo? Amet quisquam porro dignissimos distinctio vel. Nostrum
					non, veritatis aut rem temporibus expedita. Obcaecati corrupti optio
					repellat assumenda, qui, at maxime officia quam alias distinctio ea
					voluptas mollitia sunt dolores! Ad aut, voluptate iure sunt voluptas
					fugit? Accusamus illo quis nobis quia aperiam, unde, assumenda
					voluptates nihil hic aspernatur alias veniam quisquam. Minus
					temporibus quisquam pariatur voluptate consequuntur, excepturi eaque.
					Explicabo quae autem omnis rem! Consectetur doloremque quaerat rem.
					Possimus molestias tempora numquam mollitia eos corporis maxime cumque
					pariatur aspernatur quam aperiam adipisci, architecto animi voluptate
					repellendus sapiente accusantium nulla.
				</p>
			</div>
		</div>
	</div>
</section>
