<section id="profile">
	<div class="section-title">
		<span class="section-number">02</span>
		<h2 class="section-title-text stroke-text">Qui suis-je ?</h2>
	</div>
	<div class="profile-content">
		<p class="profile-description">
			Incididunt consectetur ut et eu. Ad et labore officia enim minim sunt
			consequat commodo anim ex excepteur sit ex labore. Non labore eiusmod
			reprehenderit nisi dolor reprehenderit ut laborum ipsum. Cillum anim
			deserunt adipisicing veniam.
			<br />
			<br />
			Eu pariatur anim eiusmod duis sit ut ea dolor id mollit excepteur commodo.
			Dolor sunt cupidatat consectetur velit tempor cillum commodo reprehenderit
			id cillum minim. Laboris ullamco mollit elit sint incididunt culpa veniam
			exercitation aliqua culpa excepteur.
			<br />
			<br />
			Labore ipsum eiusmod id ad deserunt pariatur nisi elit mollit anim
			exercitation voluptate minim. Culpa non fugiat anim qui Lorem fugiat
			aliquip excepteur est.
		</p>
		<div class="profile-img">
			<img src="/assets/img/michel-deckert.jpg" alt="Michel Deckert" />
		</div>
	</div>
	<div class="profile-container">
		<div class="formation-container">
			<h4 class="profile-title">formations</h4>
			<ul class="formation-list">
				<li>
					<span class="profile-date">2021</span
					><span class="profile-school">Opquast : </span>
					<a
						class="page-link"
						href="https://directory.opquast.com/fr/certificat/VQ1YJE/"
						target="_blank"
						>maitrise de qualité en projet web</a
					>
				</li>
				<li>
					<span class="profile-date">2021</span
					><span class="profile-school">O'Clock : </span>
					<a
						class="page-link"
						href="https://oclock.io/formations/developpeur-data-api"
						target="_blank"
						>fullstack JS, data & API</a
					>
				</li>
				<li>
					<span class="profile-date">2020-21</span
					><span class="profile-school">The Odin Project : </span>
					<a
						class="page-link"
						href="https://www.theodinproject.com/"
						target="_blank"
					>
						fullstack JavaScript</a
					>
				</li>
			</ul>
		</div>

		<div class="skills">
			<div class="languages">
				<h4 class="profile-title">Languages</h4>
				<ul class="languages-list">
					<li class="languages-item">JavaScript</li>
					<li class="languages-item">HTML</li>
					<li class="languages-item">CSS</li>
					<li class="languages-item">SQL</li>
				</ul>
			</div>
			<div class="other">
				<h4 class="profile-title">Autres</h4>
				<ul class="other-list">
					<li class="other-item">Je parle français & anglais</li>
					<li class="other-item">
						J'aime les jeux de sociétés & la littérature
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
