<section id="profile">
	<div class="section-title">
		<span class="section-number">02</span>
		<h2 class="section-title-text stroke-text">Qui suis-je ?</h2>
	</div>
	<div class="profile-content">
		<p class="profile-description">
			Incididunt consectetur ut et eu. Ad et labore officia enim minim sunt
			consequat commodo anim ex excepteur sit ex labore. Non labore eiusmod
			reprehenderit nisi dolor reprehenderit ut laborum ipsum. Cillum anim
			deserunt adipisicing veniam.
			<br />
			<br />
			Eu pariatur anim eiusmod duis sit ut ea dolor id mollit excepteur commodo.
			Dolor sunt cupidatat consectetur velit tempor cillum commodo reprehenderit
			id cillum minim. Laboris ullamco mollit elit sint incididunt culpa veniam
			exercitation aliqua culpa excepteur.
			<br />
			<br />
			Labore ipsum eiusmod id ad deserunt pariatur nisi elit mollit anim
			exercitation voluptate minim. Culpa non fugiat anim qui Lorem fugiat
			aliquip excepteur est.
		</p>
		<div class="profile-img">
			<img src="/assets/img/michel-deckert.jpg" alt="Michel Deckert" />
		</div>
	</div>

	<div class="formation-container">
		<h4 class="formation-title">formations</h4>
		<ul class="formation-list">
			<li>
				<span>2021</span>
				<a
					class="page-link"
					href="https://directory.opquast.com/fr/certificat/VQ1YJE/"
					target="_blank"
					><!-- <img src="/assets/img/formations/opquast.png" alt="opquast" /> -->Opquast
					: maitrise de qualité en projet web</a
				>
			</li>
			<li>
				<span>2021</span>
				<a
					class="page-link"
					href="https://oclock.io/formations/developpeur-data-api"
					target="_blank"
					><!-- <img src="/assets/img/formations/oclock3.png" alt="oclock" /> -->O'Clock
					: fullstack JS, spécialisation data & API</a
				>
			</li>
			<li>
				<span>2020-21</span>
				<a
					class="page-link"
					href="https://www.theodinproject.com/"
					target="_blank"
					><!-- <img src="/assets/img/formations/odin.png" alt="the odin project" /> -->
					The Odin Project : fullstack JavaScript</a
				>
			</li>
		</ul>
	</div>
</section>
