<section id="projects">
	<div class="section-title hidden">
		<span class="section-number">01</span>
		<svg preserveAspectRatio="xMinYMin" viewbox="0 0 1100 181" class="section-title-svg">
			<text x="0" y="179" class="section-title-text">
				Projets
			</text>
		</svg>
	</div>
	<ul class="project-cards">
		{%- for project in collections.projectsSorted %}
			{%include "home/project-card.njk"%}
		{%- endfor%}
	</ul>
</section>
