<li class="project-card hidden" id="{{ project.data.title }}-card">
	<div class="project-illustration">
		<image src="{{ project.data.illus }}" alt="{{ project.data.title | lower }} illustration" class="project-image"/>
	</div>
	<div class="project-content">
		<h3>{{ project.data.title }}</h3>
		<p class="project-description">
			{{ project.data.excerpt }}
		</p>
			<a
				class="project-link page-link big-link"
				data-content="en savoir plus"
				href="{{ project.url }}"
				>en savoir plus</a
			>
	</div>
</li>
