<section id="projects">
	<div class="section-title">
		<span class="section-number">01</span>
		<h2 class="section-title-text stroke-text">Projets</h2>
	</div>
	<ul class="project-cards">
		{%- for project in collections.featured %}
			{%include "home/project-card.njk"%}
		{%- endfor%}
	</ul>
</section>
