<section id="projects">
	<div class="section-title">
		<span class="section-number">01</span>
		<svg viewbox="0 0 1100 200" class="section-title-svg">
			<text x="0" y="195" class="section-title-text">
				Projets
			</text>
		</svg>
	</div>
	<ul class="project-cards">
		{%- for project in collections.featured %}
			{%include "home/project-card.njk"%}
		{%- endfor%}
	</ul>
</section>
