
<div class="scroll-container">
	<div class="scroll-bar"></div>
	<div class="scroll-icons">
		<span class="scroll-icon home-icon material-icons-sharp">code</span>
		<span class="scroll-icon profile-icon material-icons-sharp"
			>perm_identity</span
		>
		<span class="scroll-icon projects-icon material-icons-sharp">computer</span>
		<span class="scroll-icon contact-icon material-icons-sharp"
			>chat_bubble_outline</span
		>
	</div>
</div>
