<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Site de Michel Deckert, développeur Web Node.js & React">

		<!-- Google / Search Engine Tags -->
		<meta itemprop="name" content="Michel Deckert - Développeur JavaScript">
		<meta itemprop="description" content="Site de Michel Deckert, développeur Web Node.js & React">
		<meta itemprop="image" content="assets/img/metadata-image.webp">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://www.mdkrt.dev">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Michel Deckert - Développeur JavaScript">
		<meta property="og:description" content="Site de Michel Deckert, développeur Web Node.js & React">
		<meta property="og:image" content="assets/img/metadata-image.webp">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Michel Deckert - Développeur JavaScript">
		<meta name="twitter:description" content="Site de Michel Deckert, développeur Web Node.js & React">
		<meta name="twitter:image" content="assets/img/metadata-image.webp">
		
		<meta
			name="author"
			content="Deckert Michel"
		/>

		<link rel="icon" href="assets/img/favicon.webp" />

		<link rel="stylesheet" href="/main.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
		<title>Deckert Michel - {{ title }}</title>
	</head>
	<body>
		{% include "./navbar.njk" %}	
		{{ content | safe }}
		{% include "./footer.njk" %}	
	</body>
</html>
