<nav id="navbar">
	<ul class="navbar-menu">
		<li><a  data-content="projets" data-section="projects" href="#projects">projets</a></li>
		<li><a  data-content="qui suis-je ?" data-section="profile" href="#profile">qui suis-je ?</a></li>
		<li><a  data-content="me contacter" data-section="contact" href="#contact">me contacter</a></li>
	</ul>
</nav>
