---
layout: "base.njk"
---

<header>
	<div class="header-container">
		<a class="navlink" href="/">
			Deckert Michel
			<span class="icon icon-left material-icons-sharp"> chevron_left </span>
			<span class="icon icon-right material-icons-sharp"> chevron_right </span>
		</a>
	</div>
</header>
<main class="main-layout">
	{{ content | safe }}
</main>
