---
layout: base.njk
---

<main class="project-container">
	<div class="project-header">
		<div class="header-top">
			<a class="go-back-link" href="/">&lt; retour à la home</a>
			<h1 class="project-title">{{ title }}</h1>
			<div class="section-title">
				<svg
					viewbox="0 0 1100 210"
					class="section-title-svg"
				>
					<text x="0" y="205" class="section-title-text">Projet</text>
				</svg>
			</div>
		</div>
		<div class="header-bottom">
			{% if "wip" in tags %}
			<img
				class="project-wip"
				src="/assets/img/wip.svg"
				alt="work in progress"
			/>
			{% endif %}
			<img class="project-img" src="{{ image }}" atl="{{ title }}" />
		</div>
	</div>
	<div class="project-details">
		<div class="project-content">
			<p class="project-description">{{ description }}</p>
			<p>
				{{ content | safe }}
			</p>
		</div>

		<div class="project-info">
			<div class="project-context">
				<h4 class="info-title">Contexte</h4>
				<p class="project-context-year">{{ year }}</p>
				<p class="project-context-text">{{ context }}</p>
				<ul class="project-links">
					<li>
						<a class="page-btn" href="{{ links.live }}" target="_blank"
							>Visiter le site</a
						>
					</li>
					<li class="page-link">
						<a href="{{ links.github }}" target="_blank">Voir le code</a>
					</li>
				</ul>
			</div>
			<div class="project-stack">
				<h4 data-content="technologies" class="info-title">Technologies</h4>
				<ul class="stack-list">
					{% for tech in stack %}
					<li class="stack-item">
						<a
							class="{{ metadata.icons[tech].icon }} colored"
							data-name="{{ metadata.icons[tech].name }}"
							href="{{ metadata.icons[tech].link }}"
							target="_blank"
						></a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="separator"></div>
	<div class="next-section">
		<div class="section-title">
			<svg
				preserveAspectRatio="xMinYMin"
				viewbox="0 0 1100 210"
				class="section-title-svg"
			>
				<text x="0" y="205" class="section-title-text">La suite ?</text>
			</svg>
		</div>
		<ul class="project-cards">
			{%- for project in collections.projectsSorted %} {% if project.data.title
			!== title %} {%include "home/project-card.njk"%} {% endif %} {%- endfor%}
		</ul>
	</div>
	<div class="project-contact">
		<div class="section-title">
			<svg
				preserveAspectRatio="xMinYMin"
				viewbox="0 0 1100 135"
				class="section-title-svg"
			>
				<text x="0" y="130" class="section-title-text">Me contacter</text>
			</svg>
		</div>
		<p class="contact-text">
			Une idée ? Un projet ? N’hésitez pas à me contacter par mail ou sur mes
			réseaux sociaux. Je suis actuellement disponible pour un post de
			développeur frontend ou backend.
		</p>
		<ul class="contact-list">
			<li class="page-link">
				<a href="mailto:deckertmichel@gmail.com">Email</a>
			</li>
			<li class="page-link">
				<a href="https://www.linkedin.com/in/micheldeckert/" target="_blank"
					>LinkedIn</a
				>
			</li>
			<li class="page-link">
				<a href="https://github.com/moymat" target="_blank">Github</a>
			</li>
		</ul>
	</div>
</main>
<script defer src="/project.js"></script>
