.project-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: $max-width-container;
	margin: auto;

	.section-title {
		width: 80%;

		.section-title-text {
			color: white;
		}
	}

	.project-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 10rem 0 7.5rem;

		.header-top {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin-bottom: 2.5rem;

			.go-back-link {
				font-weight: 300;
				color: rgba(white, 0.5);
				line-height: 120%;
				margin-bottom: 0.5rem;
			}

			.project-title {
				font-family: "Poppins", sans-serif;
				font-weight: 800;
				font-size: 3.9rem;
				line-height: 124%;
				text-transform: uppercase;
				text-align: center;
				color: white;
			}

			.section-title {
				position: absolute;
				top: calc(100% - 3rem);

				.section-title-text {
					font-size: 15.8rem;
				}
			}
		}

		.header-bottom {
			position: relative;
			width: 70%;
			z-index: 1;

			.project-wip {
				position: absolute;
				top: -1rem;
				right: 0;
			}

			.project-img {
				width: 100%;
			}
		}
	}

	.project-details {
		display: flex;
		justify-content: space-between;

		.info-title {
			font-family: "Poppins", sans-serif;
			font-weight: 800;
			font-size: 2rem;
			line-height: 150%;
			text-transform: uppercase;
			color: white;
		}

		.project-content {
			width: 50%;
			font-weight: 300;
			font-size: 0.9rem;
			line-height: 150%;
			color: white;

			.project-description {
				font-weight: 800;
			}

			ul {
				margin-left: 1.5rem;
				margin-bottom: 1rem;
			}

			p:not(:first-child) {
				margin-bottom: 1rem;
			}
		}

		.project-info {
			width: 37.5%;

			.project-context-year,
			.project-context-text {
				font-weight: 300;
				font-size: 0.9rem;
				line-height: 150%;
				color: rgba(white, 0.8);
			}

			.project-context {
				margin-bottom: 3.5rem;

				.project-links {
					display: flex;
					align-items: center;
					margin-top: 1.5rem;
					list-style: none;

					.page-link {
						margin-left: 1.5rem;

						&::before {
							background-color: $main_text_blue;
						}
					}
				}
			}

			.project-stack {
				.stack-list {
					display: grid;
					grid-template-columns: repeat(auto-fit, 2rem);
					gap: 1rem 1.5rem;
					list-style-type: none;
					margin-top: 1rem;
					max-width: 75%;

					.stack-item {
						a {
							font-size: 2rem;
							opacity: 0.4;
							transition: opacity 0.2s ease-in-out;

							&:hover {
								opacity: 1;
								color: var(--color-box) !important;
							}
						}
					}
				}
			}
		}
	}

	.separator {
		margin: 6.7rem 0;
		width: 100%;
		height: 0.1rem;
		background-color: rgba(white, 0.2);
	}

	.next-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-bottom: 11rem;

		.section-title {
			margin: 0;

			.section-title-text {
				font-size: 12.2rem;
			}
		}

		.project-cards {
			margin-top: -1rem;
		}
	}

	.project-contact {
		width: 100%;
		margin-bottom: 11rem;

		.section-title {
			margin-left: auto;
			margin-right: auto;

			.section-title-text {
				font-size: 7.65rem;
			}
		}

		.contact-text {
			font-size: 0.9rem;
			font-weight: 300;
			line-height: 150%;
			letter-spacing: 0.04em;
			color: white;
			text-align: center;
			width: 27.5rem;
			margin: 0 auto 3rem;
		}

		.contact-list {
			display: flex;
			list-style: none;
			width: max-content;
			margin: 3.5rem auto 0;

			li:not(:first-child) {
				margin-left: 1.5rem;
			}
		}
	}
}

@media screen and (max-width: #{$max-width-container}) {
	.project-container {
		.project-details {
			.project-info {
				width: 40%;
			}
		}

		.next-section {
			.project-cards {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: #{$tablet-device}) {
	.project-container {
		.project-header {
			margin: 8rem 0 4rem;

			.header-bottom {
				width: 100%;

				.project-wip {
					width: 3rem;
					top: -2rem;
					right: 0.5rem;
				}

				.project-img {
					margin-top: -1rem;
					width: 100%;
				}
			}
		}

		.project-details {
			display: flex;
			flex-direction: column;
			justify-content: initial;

			.info-title {
				font-size: 1.34rem;
			}

			.project-content {
				width: 100%;
				margin-bottom: 2rem;

				.project-description {
					font-weight: 800;
				}
			}

			.project-info {
				width: 100%;

				.project-context {
					margin-bottom: 2rem;
				}
			}
		}

		.separator {
			margin: 3.5rem 0;
		}

		.next-section {
			.project-cards {
				margin-top: 2rem;
			}
		}
	}
}

@media screen and (max-width: #{$mobile-device}) {
	.project-container {
		.project-header {
			margin: 7rem 0 2.5rem;

			.header-top {
				.go-back-link {
					font-size: 0.67rem;
				}

				.project-title {
					font-size: 2.23rem;
				}

				.section-title {
					position: absolute;
					width: 100%;
					top: calc(100% - 1.5rem);
				}
			}
		}

		.separator {
			margin: 3.7rem 0;
			width: 100%;
			height: 0.1rem;
			background-color: rgba(white, 0.2);
		}

		.next-section {
			margin-bottom: 5rem;

			.section-title {
				width: 100%;
			}
		}

		.project-contact {
			margin-bottom: 4.5rem;

			.section-title {
				width: 100%;
				margin-bottom: 2.5rem;
			}

			.contact-text {
				width: 100%;
				margin-bottom: 0;
			}

			.contact-list {
				margin-top: 2rem;
			}
		}
	}
}
