<footer>
	<span class="footer-up"
		><span id="date-footer"></span> Michel Deckert tous droits réservés.</span
	><span class="footer-down">Design <a href="https://www.instagram.com/belauga/?hl=fr">@belauga</a></span>
</footer>