<nav id="navbar" class="hidden">
	<ul class="navbar-menu">
		<li class="navbar-menu-item nav-link" data-section="projects">projets</li>
		<li class="navbar-menu-item nav-link" data-section="profile">
			qui suis-je ?
		</li>
		<li class="navbar-menu-item nav-link" data-section="contact">
			me contacter
		</li>
	</ul>
	<div class="navbar-burger">
		<div class="navbar-burger-icon"></div>
		<div class="navbar-burger-content">
			<ul class="navbar-burger-menu">
				<li class="navbar-menu-item nav-link" data-section="projects">
					projets
				</li>
				<li class="navbar-menu-item nav-link" data-section="profile">
					qui suis-je ?
				</li>
				<li class="navbar-menu-item nav-link" data-section="contact">
					me contacter
				</li>
			</ul>
			<ul class="navbar-burger-contact">
				<li class="page-link">
					<a href="mailto:deckertmichel@gmail.com" target="_blank">Email</a>
				</li>
				<li class="page-link">
					<a href="https://www.linkedin.com/in/micheldeckert/" target="_blank"
						>LinkedIn</a
					>
				</li>
				<li class="page-link">
					<a href="https://github.com/moymat" target="_blank">Github</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
