<div class="overlay">
	<div class="overlay-bar"></div>
	<div class="overlay-bar"></div>
	<div class="overlay-bar"></div>
	<div class="overlay-bar"></div>
	<div class="overlay-bar"></div>
	<div class="overlay-bar"></div>
	<div class="overlay-bar"></div>
	<div class="overlay-bar"></div>
</div>
