@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables";

* {
	margin: 0;
	padding: 0;
	font-family: "Karla", sans-serif;
	font-size: 18px;
	scroll-behavior: smooth;
}

body {
	background-color: $main_dark_blue;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
}

.stroke-text {
	color: transparent;
	-webkit-text-stroke: 1px rgba(white, 0.2);
}

main {
	width: 100%;
	margin: auto;
}

a {
	color: white;
	text-decoration: none;
}

section {
	width: 100%;
	margin-bottom: 200px;

	&:not(#hero) {
		padding-top: 50px;
		margin-top: -50px;
		max-width: $max-width-container;
		margin: 0 auto;
	}

	.section-title {
		position: relative;
		display: flex;
		font-weight: 800;
		letter-spacing: 0.04em;
		margin-bottom: 3rem;

		.section-number {
			top: 0;
			left: 0;
			width: 3rem;
			font-size: 1.7rem;
			color: $main_text_blue;
		}

		.section-title-svg {
			max-height: 25rem;
			width: 100%;
			vertical-align: top;

			.section-title-text {
				font-family: "Poppins", sans-serif;
				fill: none;
				stroke: rgba(white, 0.2);
				stroke-width: 1px;
				text-transform: uppercase;
				width: 100%;
			}
		}
	}
}
