@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables";

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	scroll-behavior: smooth;
}

body {
	background-color: $main_dark_blue;
	position: relative;
	width: 100vw;
	box-sizing: border-box;
	overflow-x: hidden;
}

.stroke-text {
	color: transparent;
	-webkit-text-stroke: 1px white;
}

main {
	width: 100%;
	max-width: $max-width-container;
	margin: auto;
}

.background-gradient {
	&::before {
		content: "";
		position: absolute;
		width: 1440px;
		height: 1024px;
		top: -100px;
		right: -500px;
		background: url("../../assets/img/noise3.png"),
			radial-gradient(
				56.28% 59.59% at center center,
				#5d5fef 0%,
				#373289 43.75%,
				$main_dark_blue 79.18%
			),
			$main_dark_blue;
		background-blend-mode: darken, normal, normal;
		z-index: -1;
		transform: rotate(-25deg);
	}
}

.glitchy-link,
.glitchy-title {
	position: relative;
	color: white;
	text-decoration: none;
	animation: link-sidestep 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite
		paused;

	&::before,
	&::after {
		position: absolute;
		inset: 0;
		width: max-content;
		height: 100%;
		visibility: hidden;
		font-weight: 700;
		z-index: -1;
		animation: link-glitches 0.1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite
			paused;
	}

	&::before {
		color: darkcyan;
	}

	&::after {
		color: darkred;
		animation-direction: reverse;
	}
}

.glitchy-link:hover {
	animation-play-state: running;

	&::before,
	&::after {
		content: attr(data-content);
		border: none;
		visibility: visible;
		animation-play-state: running;
	}
}

.glitchy-title.hover {
	animation-play-state: running;

	&::before,
	&::after {
		content: attr(data-content);
		border: none;
		visibility: visible;
		animation-play-state: running;
	}
}

.section-title {
	display: flex;
	font-weight: 800;
	letter-spacing: 0.04em;
	margin-bottom: 3rem;

	.section-number {
		position: relative;
		top: 0;
		left: 0;
		width: 3rem;
		font-size: 1.7rem;
		line-height: 2.5rem;
		color: $main_text_blue;
	}

	.section-title-text {
		font-size: 3.7rem;
		line-height: 5.5rem;
		text-transform: uppercase;
	}
}

section {
	width: 100%;
	margin-bottom: 200px;

	& > :not(.section-title) {
		padding: 0 50px;
	}
}

@mixin page-link-small {
	position: relative;
	color: white;
	text-decoration: none;

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		left: 0;
		bottom: -0.1rem;
		border-top: 3px solid $main_text_blue;
		pointer-events: none;
		transition: width 0.25s ease-in-out;
	}
}

.page-link::after {
	position: absolute;
	content: "";
	width: 4rem;
	left: 0;
	bottom: -0.75rem;
	border-top: 3px solid $main_text_blue;
	pointer-events: none;
	transition: width 0.25s ease-in-out;
}

@keyframes link-glitches {
	0% {
		top: 0;
		left: 0;
	}
	25% {
		top: 0.25rem;
		left: 0.25rem;
	}
	75% {
		top: -0.25rem;
		left: -0.25rem;
	}
	100% {
		top: 0;
		left: 0;
	}
}

@keyframes link-sidestep {
	96% {
		left: 0;
	}
	99% {
		left: 0.4rem;
	}
	100% {
		left: 0;
	}
}
