@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700;800&family=Poppins:wght@300;400;500;700;800&display=swap");
@import "./variables";

* {
	margin: 0;
	padding: 0;
	font-family: "Karla", sans-serif;
	font-size: 18px;
	// scroll-behavior: smooth;
}

body {
	background-color: $main_dark_blue;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
}

main {
	width: 100%;
	margin: auto;
}

a {
	color: white;
	text-decoration: none;
}

section {
	width: 100%;

	&:not(#hero) {
		padding-top: 2.8rem;
		max-width: $max-width-container;
		margin: 0 auto;
		margin-top: -2.8rem;
		margin-bottom: 11rem;
	}
}

.section-title {
	position: relative;
	display: flex;
	font-weight: 800;
	letter-spacing: 0.04em;
	margin-bottom: 3rem;
	user-select: none;
	transform: translateX(0);
	transition: transform 1s ease-out, opacity 1s ease-in-out;
	opacity: 1;

	&.hidden {
		transform: translateX(-4rem);
		opacity: 0;

		.section-number {
			transform: translate(4rem, -4rem);
			opacity: 0;
		}
	}

	.section-number {
		top: 0;
		left: 0;
		width: 3rem;
		font-size: 1.7rem;
		color: $main_text_blue;
		transform: translate(0, 0);
		opacity: 1;
		transition: transform 1s ease-out, opacity 1s ease-in-out;
	}

	.section-title-svg {
		max-height: 25rem;
		width: 100%;
		vertical-align: top;

		.section-title-text {
			font-family: "Poppins", sans-serif;
			fill: none;
			stroke: rgba(white, 0.2);
			stroke-width: 1px;
			text-transform: uppercase;
			width: 100%;
		}
	}
}

.page-btn {
	position: relative;
	display: inline-block;
	font-weight: 400;
	font-size: 0.9rem;
	color: white;
	padding: 0.72rem 1.6rem;
	border-radius: 5px;
	box-sizing: border-box;
	overflow: hidden;

	&::before,
	&::after {
		content: "";
		position: absolute;
		border-radius: 5px;
	}

	&::before {
		inset: 0;
		background-color: $main_text_blue;
		z-index: -2;
	}

	&::after {
		opacity: 0;
		top: 0;
		height: 100%;
		width: 200%;
		right: 0;
		background-image: linear-gradient(
			64.38deg,
			#e045af 0%,
			#948df4 47.4%,
			#396ef5 100%
		);
		transition: all;
		transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		z-index: -1;
	}

	&:hover::after {
		opacity: 1;
		right: var(--after-right);
		transition-property: none;
		transition-property: opacity;
	}
}

.page-link {
	position: relative;
	height: 1.7rem;

	a {
		display: block;
		font-size: 0.9rem;
		text-transform: lowercase;
		height: 100%;
	}

	&::before,
	&::after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		height: 0.1rem;
		width: 100%;
		pointer-events: none;
	}

	&::before {
		background-color: $main_text_blue;
	}

	&::after {
		background: $base_gradient;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

	&:hover::after {
		opacity: 1;
	}
}

@media screen and (max-width: #{$large-screen}) {
	main,
	footer,
	nav {
		padding: 0 1rem;
		box-sizing: border-box;
	}
}

@media screen and (max-width: #{$mobile-device}) {
	.section-title:not(.animated-title) {
		margin-bottom: 2rem;
		transition: none;

		.section-number {
			font-size: 1.4rem;
			transition: none;
		}
	}

	section {
		&:not(#hero) {
			padding-top: 2.8rem;
			max-width: $max-width-container;
			margin: 0 auto;
			margin-top: -2.8rem;
			margin-bottom: 5.3rem;
		}
	}

	.page-btn {
		font-size: 0.9rem;
		color: white;
		padding: 0.6rem 1.2rem;
		border-radius: 5px;
		box-sizing: border-box;

		&::before,
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			border-radius: 5px;
		}

		&::before {
			background-color: $main_text_blue;
			z-index: -2;
		}

		&::after {
			opacity: 0;
			background-image: $base_gradient;
			z-index: -1;
			transition: opacity 0.3s ease-in-out;
		}

		&:hover::after {
			opacity: 1;
		}
	}
}
