---
layout: base.njk
---

<main class="project background-gradient">
	<div class="project-container">
    <h2>Projet</h2>
    <div class="project-info">
      <div class="img-container">
        <img src="{{image}}" atl="{{title}}" />
      </div>
      <div class="stack">
        <h4 data-content="technologies" class="info-title glitchy-title">Technologies</h4>
        <ul class="stack-list">
        {% for tech in stack %}
          <li class="stack-item">
            <a data-name="{{metadata.icons[tech].name}}" href="{{metadata.icons[tech].link}}" target="_blank">
              {{metadata.icons[tech].icon | safe}}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="context">
        <h4 class="info-title">Contexte</h4>
        <p class="context-text">{{year}} - {{context}}</p>
      </div>
    </div>
    <div class="go-back">    
      <a data-content="< retour" href="/" class="glitchy-link">&lt; retour</a>
    </div>
    <h1 class="stroke-text project-title">{{title}}</h1>
    {% if "wip" in tags %}
      <p class="project-wip">
        <span class="material-icons-outlined">report_problem</span>
        en cours de développement</p>
    {% endif %}
    <p class="project-description">{{description}}</p>
    <div class="project-content">
      {{content | safe}}
      <ul class="project-links">
        <li class="page-link">
          <a
            class="glitchy-link"
            data-content="visiter le site"
            href="{{links.live}}"
            target="_blank"
            >visiter le site</a
          >
          <div></div>
        </li>
        <li class="page-link">
          <a
            class="glitchy-link"
            data-content="voir le code"
            href="{{links.github}}"
            target="_blank"
            >voir le code</a
          >
          <div></div>
        </li>
      </ul>
    </div>
  </div>
</main>
<script defer src="/index.js"></script>
<script defer src="/project.js"></script>
