@import "../variables";

#navbar {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: $max-width-container;
	z-index: 10;
	pointer-events: none;

	.navbar-menu {
		position: absolute;
		top: 4.8rem;
		right: 0;
		width: max-content;
		list-style: none;
		line-height: 1.5rem;
		letter-spacing: 0.04rem;

		li {
			position: relative;
			height: 40px;
			pointer-events: all;
			mix-blend-mode: difference;
		}
	}
}
