#hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	min-height: 730px;
	height: 100vh;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	margin-bottom: 100px;

	.hero-container {
		width: 100%;

		.hero-title {
			max-width: $max-width-container;
			margin: auto;
			display: flex;
			flex-direction: column;
			color: #fff;
			text-transform: uppercase;

			.hero-name,
			.hero-role {
				letter-spacing: 0.04rem;
				text-transform: uppercase;
				@include default-pos;

				&.hidden {
					@include slide-right;
				}
			}

			.hero-name {
				font-size: 1.225rem;
				font-weight: 300;
				margin-bottom: 1rem;
			}

			.hero-role {
				font-size: 4.45rem;
				line-height: 124%;
				font-weight: 800;

				&:nth-child(even) {
					transition-delay: 0.25s;
				}

				&:nth-child(odd) {
					transition-delay: 0.5s;
				}
			}
		}

		.hero-sub {
			max-width: $max-width-container;
			margin: auto;
			color: white;
			font-weight: 300;
			line-height: 1.5rem;
			letter-spacing: 0.04rem;
			margin-top: 1rem;
			@include default-pos;
			transition-delay: 0.75s;

			&.hidden {
				@include slide-right;
			}
		}
	}

	.section-title {
		width: 100%;
		@include default-pos(1.25s, ease-out, 1.25s, ease-in-out);

		&.hidden {
			@include slide-up(5rem);
		}

		.section-title-svg {
			position: absolute;
			left: 0;
			top: -5vw;
			max-height: 25rem;
			width: 100%;
			vertical-align: top;

			.section-title-text {
				font-family: "Poppins", sans-serif;
				fill: none;
				font-size: 6.8rem;
				stroke: rgba(white, 0.2);
				stroke-width: 1px;
				text-transform: uppercase;
				width: 100vw;
			}
		}
	}

	.scroll-container {
		position: absolute;
		width: 100%;
		max-width: $max-width-container;
		margin: 0 auto;
		bottom: 4rem;
		left: calc((100vw - #{$max-width-container}) / 2);
		transition: opacity 1.5s ease-out 1s;
		opacity: 1;

		&.hidden {
			opacity: 0;
		}

		.scroll-cta {
			display: flex;
			flex-direction: column;
			width: max-content;

			.scroll-text {
				font-weight: 300;
				font-size: 0.775rem;
				color: white;
			}

			.scroll-bar {
				position: relative;
				align-self: center;
				margin-top: 0.7rem;
				height: 1.9rem;
				width: 1px;

				&::after {
					position: absolute;
					content: "";
					top: 0;
					left: 0;
					right: 0;
					bottom: 100%;
					background: $base_gradient;
					animation: 1.8s scroll-bar-anim cubic-bezier(0.165, 0.84, 0.44, 1)
						infinite;
				}
			}
		}
	}
}

@media (max-width: #{$max-width-container}) {
	.scroll-container {
		left: 0 !important;
	}
}

@keyframes scroll-bar-anim {
	0% {
		top: 0;
		bottom: 100%;
	}
	50% {
		top: 0;
		bottom: 0;
	}

	100% {
		top: 100%;
		bottom: 0;
	}
}

@media screen and (max-width: #{$mobile-device}) {
	#hero {
		max-height: 100vh;
		margin-bottom: 0;

		.hero-container {
			margin-top: -25%;
			.hero-title {
				.hero-name {
					font-size: 0.9rem;
					line-height: 119%;
					margin-bottom: 0;
				}

				.hero-role {
					font-size: 2.23rem;
				}
			}
			.hero-sub {
				font-size: 0.9rem;
				line-height: 119%;
				margin-top: 0;
			}
		}

		.scroll-container {
			bottom: 8rem;
		}
	}
}
