nav {
	display: flex;
	justify-content: flex-end;
	width: 100%;

	ul {
		display: flex;
		flex-direction: column;
		width: max-content;
		list-style: none;
		line-height: 1.5rem;
		color: white;
	}
}
