#profile {
	display: flex;
	flex-direction: column;

	.profile-content {
		position: relative;
		min-height: 430px;

		.profile-description {
			width: 70%;
			font-weight: normal;
			line-height: 1.5rem;
			letter-spacing: 0.04em;
			text-transform: lowercase;
			color: #fff;
		}

		.profile-img {
			position: relative;
			width: 290px;
			height: 290px;
			position: absolute;
			top: 0;
			right: 8%;
			z-index: -1;
			border-top-left-radius: 75% 10%;
			border-top-right-radius: 15% 135%;
			border-bottom-right-radius: 200% 30%;
			border-bottom-left-radius: 10% 50%;
			overflow: hidden;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				filter: grayscale(1) opacity(0.5);
				transform: skew(-0.025rad, 0) rotate(-5deg) scale(-1.1, 1.1)
					translateY(-8%);
			}
		}
	}

	.profile-container {
		display: flex;
		justify-content: space-around;

		.profile-title {
			font-style: italic;
			font-size: 1.8rem;
			line-height: 2.5rem;
			letter-spacing: 0.04rem;
			text-transform: uppercase;
			color: white;
		}

		ul {
			list-style: none;

			li,
			li a,
			li span {
				font-size: 0.9rem;
				display: inline-flex;
				align-items: center;
				position: relative;
				text-decoration: none;
				line-height: 3rem;
				letter-spacing: 0.04rem;
				color: white;
			}

			li {
				display: list-item;
			}
		}

		.formation-container {
			.page-link {
				position: relative;
				line-height: 1rem;

				&::after {
					bottom: -0.4rem;
					width: 100%;
				}
			}

			.profile-date {
				justify-content: flex-end;
				width: 75px;
				margin-right: 1rem;
				color: white;
			}
		}

		.skills {
			margin-left: 2rem;

			ul {
				display: flex;

				li:not(:first-child) {
					margin-left: 0.5rem;
				}
			}

			.languages {
				.languages-list {
					display: inline-flex;
					margin-top: 1rem;
					list-style: none;
					width: max-content;

					.language-item:not(:first-child) {
						margin-left: 1rem;
					}

					.language-item {
						margin: 0;

						i {
							position: relative;
							font-size: 1.5rem;
							aspect-ratio: 1/1;

							&:hover::after {
								position: absolute;
								content: "";
								inset: 0;
								background-color: var(--color-bg);
								z-index: -1;
								border-radius: 50%;
								transform: scale(1.5);
								box-shadow: 0 0 30px 0.2px var(--color-box);
								opacity: 0.7;
							}
						}
					}
				}
			}

			.other {
				margin-top: 2rem;

				.other-list {
					flex-direction: column;

					.other-item {
						margin: 0;
						max-width: 380px;
					}
				}
			}
		}
	}
}
