@import "../variables";

#projects {
	position: relative;
	background-color: $main_dark_color;
	z-index: 20;
	top: 200vh;

	.projects-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		max-width: $max-width-container;

		h1 {
			color: $main_light_color;
			text-transform: uppercase;
			font-size: 3rem;
			margin-top: 4rem;
		}

		.cards-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			height: 100%;
			max-height: 22rem;
			gap: 1rem;
			padding: 8px;
			box-sizing: border-box;
			align-items: center;

			.project-card {
				display: flex;
				flex-direction: column;
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;
				background-color: $main_dark_color;
				box-sizing: border-box;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				&::after {
					position: absolute;
					content: "";
					bottom: 0;
					left: 0;
					right: 0;
					height: 0;
					background-color: $bright_color;
					transition: height $short_anim_duration ease;
				}

				&:hover {
					cursor: pointer;
				}

				.img-container {
					position: relative;
					flex-grow: 1;
					width: 100%;
					overflow: hidden;
					pointer-events: none;

					&::after {
						content: "";
						position: absolute;
						height: 0;
						left: 0;
						bottom: 0;
						width: 100%;
						background-color: $bright_color;
						opacity: 0.4;
						transition: height $medium_anim_duration ease;
					}

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
						filter: brightness(0.7);
						transition: all $long_anim_duration ease;
					}
				}

				.title-container {
					position: relative;
					display: flex;
					justify-content: center;
					padding: 1rem 0;
					margin: 0.5rem 0;
					pointer-events: none;

					h3 {
						position: relative;
						font-size: 1.5rem;
						font-weight: 700;
						text-align: center;
						text-transform: uppercase;
						color: $main_light_color;
						background-color: transparent;
						z-index: 1;
						transition: color $medium_anim_duration ease;
					}
				}

				.project-content,
				.stack-list {
					display: none;
				}

				&:hover {
					background-color: $second_dark_color;

					&::after {
						height: 0.3rem;
					}

					.img-container {
						&::after {
							height: 100%;
						}

						img {
							filter: brightness(1);
							transform: scale(1.05);
						}
					}
				}
			}
		}
	}
	.nav-link {
		position: relative;
		display: flex;
		align-self: flex-end;
		margin-top: 1rem;
		color: $main_light_color;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 700;
		border-radius: 1rem;

		.icon {
			position: relative;
			left: 0;
			font-weight: 600;
			color: $main_light_color;
			transition: all $short_anim_duration ease;
		}

		&::after {
			position: absolute;
			content: "";
			bottom: -0.5rem;
			width: 0;
			border-bottom: 0.2rem solid $bright_color;
			transition: all $short_anim_duration ease;
		}

		&:hover {
			&::after {
				width: 90%;
			}

			.icon {
				left: 0.2rem;
				color: $bright_color;
				transform: scale(1.1);
			}
		}
	}
}
