#profile {
	display: flex;
	flex-direction: column;

	.section-title {
		.section-title-text {
			font-size: 9rem;
		}
	}

	.profile-title {
		font-family: "Poppins", sans-serif;
		font-weight: 800;
		font-size: 2rem;
		line-height: 150%;
		text-transform: uppercase;
		color: white;
		margin-bottom: 1.5rem;
	}

	.profile-content {
		display: flex;

		.profile-content-left,
		.profile-content-right {
			position: relative;
			display: flex;
			flex-direction: column;
			flex: 1;
		}

		.profile-content-left {
			.profile-description {
				line-height: 150%;
				font-weight: 300;
				color: #fff;
				margin-bottom: 4rem;
			}

			.profile-formation {
				.formation-list {
					margin-bottom: 3rem;

					.formation-item {
						list-style: none;

						&:not(:last-child) {
							margin-bottom: 1.5rem;
						}

						.formation-title {
							font-size: 0.9rem;
							line-height: 150%;
							font-weight: 500;
							color: white;

							.formation-date {
								margin-right: 0.5rem;
							}

							.formation-school {
								text-transform: uppercase;
							}
						}
						.formation-name {
							display: flex;
							align-items: center;

							&::before {
								content: "";
								width: 1.9rem;
								height: 0.05rem;
								margin-right: 0.5rem;
								background: $base_gradient;
							}

							.formation-link {
								font-size: 0.9rem;
								line-height: 150%;
								color: rgba(white, 0.6);
								font-weight: 300;
							}
						}
					}
				}
			}
		}

		.profile-content-right {
			.profile-img {
				position: relative;
				top: -5rem;
				display: flex;
				justify-self: center;
				align-items: center;

				img {
					width: 67%;
					aspect-ratio: 2/2.9;
					object-fit: cover;
					margin: auto;
				}
			}

			.profile-languages {
				margin-left: 17.5%;

				.languages-list {
					display: inline-flex;
					list-style: none;

					.language-item {
						&:not(:first-child) {
							margin-left: 1.5rem;
						}

						a {
							font-size: 2rem;
							opacity: 0.4;
							transition: opacity 0.2s ease-in-out;

							&:hover {
								opacity: 1;
								color: var(--color-box) !important;
							}
						}
					}
				}
			}
		}
	}
}
