#projects {
	.project-cards {
		position: relative;
		display: flex;
		flex-direction: column;
		list-style: none;
		color: white;

		.project-card {
			position: relative;
			bottom: 0;
			opacity: 1;
			width: 400px;
			max-width: 400px;
			height: 475px;

			&.hidden {
				opacity: 0;

				.project-illustration {
					background-color: transparent;
					opacity: 0;

					.project-image,
					.blue-canvas,
					.red-canvas {
						bottom: -10rem;
					}

					.blue-canvas {
						left: 3rem;
					}

					.red-canvas {
						left: -3rem;
					}
				}

				.project-content {
					bottom: -5rem;
				}
			}

			&:nth-child(even) {
				align-self: flex-end;
			}

			&:not(:first-child) {
				bottom: 2rem;
			}

			&:hover .project-illustration .project-image {
				filter: grayscale(0.7);
			}

			&.hover {
				.project-illustration {
					filter: blur(0.25rem);
				}
				.project-content {
					transform: scale(1.05);
				}
			}

			.project-illustration {
				position: relative;
				right: -5rem;
				bottom: -2rem;
				max-width: 320px;
				max-height: 100%;
				height: 100%;
				transition: all 0.8s ease-in-out, opacity 1s ease-in-out;

				.project-image {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					left: 0;
					bottom: 0;
					filter: grayscale(1);
					transition: bottom 0.5s ease-in-out 0.05s, filter 0.4s ease-in-out;
				}

				.blue-canvas,
				.red-canvas {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					bottom: 0;
					opacity: 0.5;
					pointer-events: none;
					z-index: -1;

					&.hover {
						animation: img-glitches 3s cubic-bezier(0.16, 0.84, 0.04, 1)
							infinite;
						visibility: visible;
						animation-play-state: running;
						left: auto;
						bottom: auto;
					}
				}

				.red-canvas {
					transition: bottom 0.45s ease-in-out 0.1s, left 0.45s ease-in-out 0.1s;
				}

				.blue-canvas {
					transition: bottom 0.55s ease-in-out, left 0.45s ease-in-out 0.1s;
					&.hover {
						animation-direction: reverse;
					}
				}

				&:hover {
					transition: filter 0.2s ease-in-out;
				}
			}
		}

		.project-content {
			position: absolute;
			bottom: 20px;
			z-index: 1;
			transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53),
				bottom 0.8s ease-in-out 0.2s;

			h3 {
				font-weight: 800;
				font-size: 2rem;
				line-height: 3rem;
				letter-spacing: 0.04rem;
				text-transform: uppercase;
				margin-bottom: 0.75rem;
			}

			.project-description {
				font-style: italic;
				line-height: 1.5rem;
				font-weight: normal;
				text-transform: lowercase;
				margin-bottom: 0.75rem;
			}

			.page-link {
				position: relative;

				&:hover::after {
					position: absolute;
					width: 100%;
				}

				.project-link {
					position: relative;
					font-size: 0.9rem;
					line-height: 1.35rem;
					font-weight: normal;
					letter-spacing: 0.04rem;
					text-transform: lowercase;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}

@keyframes img-glitches {
	0% {
		bottom: 0;
		left: 0;
	}
	12% {
		bottom: -0.8rem;
		left: -0.8rem;
	}
	25% {
		opacity: 0.5;
	}
	38% {
		bottom: 0.8rem;
		left: -0.8rem;
	}
	50% {
		// bottom: 0;
		// left: 0;
		opacity: 0;
	}
	62% {
		bottom: -0.8rem;
		left: 0.8rem;
	}
	75% {
		opacity: 0.5;
	}
	88% {
		bottom: 0.8rem;
		left: 0.8rem;
	}
	100% {
		// bottom: 0;
		// left: 0;
		opacity: 0;
	}
}
