#profile {
	display: flex;
	flex-direction: column;

	.section-title {
		.section-title-text {
			font-size: 9rem;
		}
	}

	.profile-title {
		font-family: "Poppins", sans-serif;
		font-weight: 800;
		font-size: 2rem;
		line-height: 150%;
		text-transform: uppercase;
		color: white;
		margin-bottom: 1.5rem;
	}

	.profile-content {
		display: flex;

		.profile-content-left,
		.profile-content-right {
			position: relative;
			display: flex;
			flex-direction: column;
			flex: 1;
		}

		.profile-content-left {
			.profile-description {
				line-height: 150%;
				font-weight: 300;
				color: #fff;
				margin-bottom: 4rem;
				opacity: 1;
				transform: translateY(0);
				transition: transform 0.5s ease-out, opacity 1s ease-in-out;

				&.hidden {
					opacity: 0;
					transform: translateY(2rem);
				}
			}

			.profile-formation {
				.profile-title {
					opacity: 1;
					transform: translateX(0);
					transition: transform 0.5s ease-out, opacity 1s ease-in-out;

					&.hidden {
						opacity: 0;
						transform: translateX(-2rem);
					}
				}

				.formation-list {
					margin-bottom: 3rem;

					.formation-item {
						list-style: none;

						&:not(:last-child) {
							margin-bottom: 1.5rem;
						}

						.formation-title,
						.formation-name {
							opacity: 1;
							transform: translateX(0);
							transition: transform 0.5s ease-out, opacity 1s ease-in-out;
						}

						.formation-title {
							font-size: 0.9rem;
							line-height: 150%;
							font-weight: 500;
							color: white;
							transition-delay: calc(var(--idx) * 0.2s);

							.formation-date {
								margin-right: 0.5rem;
							}

							.formation-school {
								text-transform: uppercase;
							}
						}
						.formation-name {
							display: flex;
							align-items: center;
							transition-delay: calc(var(--idx) * 0.25s);

							&::before {
								content: "";
								width: 1.9rem;
								height: 0.05rem;
								margin-right: 0.5rem;
								background: $base_gradient;
							}

							.formation-link {
								font-size: 0.9rem;
								line-height: 150%;
								color: rgba(white, 0.6);
								font-weight: 300;
							}
						}
					}

					&.hidden .formation-item {
						.formation-name,
						.formation-title {
							opacity: 0;
						}

						.formation-title {
							transform: translateX(-2rem);
						}

						.formation-name {
							transform: translateX(-4rem);
						}
					}
				}

				.page-btn {
					transform: translateY(0);
					opacity: 1;
					transition: transform 0.5s ease-out, opacity 1s ease-in-out;
					transition-delay: 0.25s;

					&.hidden {
						transform: translateY(2rem);
						opacity: 0;
					}
				}
			}
		}

		.profile-content-right {
			.profile-img-container {
				position: relative;
				display: flex;
				justify-self: center;
				align-items: center;
				top: -5rem;
				height: 29.4rem;
				width: 65%;
				overflow: hidden;
				margin: 0 auto;
				transform: translateX(0);
				opacity: 1;
				transition: transform 1s ease-out, opacity 2s ease-in-out;

				&.hidden {
					transform: translateX(2rem);
					opacity: 0;
				}

				.profile-img {
					position: absolute;
					bottom: 50%;
					right: 50%;
					transform: translate(50%, 50%);
					height: 100%;
					object-fit: cover;
					margin: auto;
				}
			}

			.profile-languages {
				margin-left: 17.5%;

				.languages-title {
					opacity: 1;
					transform: translateX(0);
					transition: transform 0.5s ease-out, opacity 1s ease-in-out;

					&.hidden {
						opacity: 0;
						transform: translateX(2rem);
					}
				}

				.languages-list {
					display: grid;
					grid-template-columns: repeat(auto-fit, 2rem);
					gap: 1rem 1.5rem;
					list-style-type: none;
					width: 75%;

					.language-item {
						opacity: 1;
						transform: translateX(0);
						transition: transform 0.5s ease-out, opacity 0.75s ease-in-out;
						transition-delay: calc(var(--idx) * 0.2s);

						&.hidden {
							opacity: 0;
							transform: translateX(1.5rem);
						}

						a {
							font-size: 2rem;
							opacity: 0.4;
							transition: opacity 0.2s ease-in-out;

							&:hover {
								opacity: 1;
								color: var(--color-box) !important;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: #{$tablet-device}) {
	#profile {
		.profile-title {
			font-size: 1.34rem;
		}

		.profile-content {
			display: flex;
			flex-direction: column;

			.profile-content-left {
				.profile-description {
					font-size: 0.9rem;
					margin-bottom: 2.55rem;
				}

				.profile-formation {
					margin-bottom: 2.55rem;

					.formation-list {
						margin-bottom: 1.45rem;

						.formation-item:not(:last-child) {
							margin-bottom: 1.45rem;
						}
					}
				}
			}

			.profile-content-right {
				.profile-img {
					display: none;
				}

				.profile-languages {
					margin-left: 0;

					.languages-list {
						.language-item a:hover {
							opacity: 1;
							color: var(--color-box) !important;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: #{$mobile-device}) {
	#profile {
		.profile-content {
			.profile-content-right {
				.profile-img-container {
					display: none;
				}
			}
		}
	}
}
