<section id="contact">
	<div class="section-title">
		<span class="section-number">03</span>
		<h2 class="section-title-text stroke-text">Contact</h2>
	</div>
	<p>
		Une idée ? Un projet ? N’hésitez pas à me contacter
		<span class="page-link"
			><a
				data-content="par mail"
				class="glitchy-link"
				href="mailto:deckertmichel@gmail.com"
				>par mail</a
			></span
		>
		ou sur mes réseaux sociaux. Je suis actuellement disponible pour un post de
		développeur frontend et backend.
	</p>
	<ul>
		<li class="page-link">
			<a
				class="glitchy-link"
				data-content="LinkedIn"
				href="https://www.linkedin.com/in/micheldeckert/"
				target="_blank"
				>LinkedIn</a
			>
			<div></div>
		</li>
		<li class="page-link">
			<a
				class="glitchy-link"
				data-content="Github"
				href="https://github.com/moymat"
				target="_blank"
				>Github</a
			>
			<div></div>
		</li>
	</ul>
</section>
