---
title: Développeur JavaScript
layout: base.njk
---

<div class="page-content">
    {% include "home/hero.njk" %}
    {% include "home/projects.njk" %}
    {% include "home/profile.njk" %}
    {% include "home/contact.njk" %}
</div>
