---
layout: "page-layout.njk"
title: Mes projets
---

<div class="projects-container">
	<h1 class="projects-title">Mes Projets</h1>
	<ul>
		{%- for project in collections.project%}
			{%include "projects/project-large-card.njk"%}
		{%- endfor%}
	</ul>
</div>
<script src="/projects.js"></script>