---
layout: "page-layout.njk"
title: Mes projets
---

<div class="projects-wrapper">
	<ul>
		{%- for project in collections.project%}
		<li>
			<a href="{{ project.url }}">{{ project.data.title }}</a>
		</li>
		{%- endfor%}
	</ul>
</div>
